<output
  class="circular-slider-output"></output>

<svg
  class="circular-slider-svg"
  xmlns="http://www.w3.org/2000/svg"
  width="320"
  height="320"
  viewBox="0 0 320 320"
  fill="none"
  focusable="false"
  aria-hidden="true">
    
  <circle
    class="circular-slider-track"
    r="128"
    cx="160"
    cy="160"
    fill="none"
    stroke="#dee2e6"
    stroke-width="16"/>
  
  <circle
    class="circular-slider-progress"
    r="128"
    cx="338"
    cy="158"
    stroke="#000091"
    stroke-width="16"
    stroke-dasharray="800"
    stroke-linecap="round"
    transform="rotate(-90 249.85 248.065)"/>

  <circle
    class="circular-slider-thumb"
    r="12"
    cx="160"
    cy="32"
    id="thumb"
    stroke="#fff"
    stroke-width="6"
    fill="#e1000f"/>

</svg>